<h1> About </h1>
<%= link_to image_tag 'nelson.jpg',  style: 'height:10%; width: 10%' %>
<p> Hey, My name is <b>Nelson Cardoz<b> </p>
<br>
<p> I am loving Ruby.Rails and hoping tp build some web app where people can enjoy and love using it</p>

<br>

<%= link_to 'Home', root_path %>