<h1> About </h1>
<%= link_to image_tag 'nelson.jpg', style: 'height:10%; width: 10%; border-radius: 150%' %>
<p> Hey, My name is <strong>Nelson Cardoz</strong> </p>
<br>
<p> I am loving Ruby on Rails and hoping to build some web app where people can enjoy and love using it</p>

<br>

<%= link_to 'Home', root_path %>