<h1> Hello, I'm new to coding, hoping RUBY is amazing and I learn quickly </h1>
<p> Things to start off with the following </p>
<ul>
<li> HTML</li>
<li>CSS</li>
<li>Java</li>
<li>Ruby</li>
<li>Rails</li>
</ul>

<%= link_to 'About', about_path %>